<div class="container">
    <div class="mt-4">
        <h3>Product Detail(s)</h3>
    </div>
    <hr>
    <div class="product-information">
        <div class="product-image">
            <img src={{product.image}} />
        </div>
        <div class="product-details">
            <div class="product-detail">
                <p class="subtitle ">Product Title</p>
                <h3 class="display-4">{{product.name}}</h3>
            </div>
            <hr>

            <div class="product-detail">
                <p class="subtitle mt-4">Product Details</p>
                <p class="product-description">{{product.description}}</p>
                <p class="product-description">{{product.description}}</p>
            </div>

            <div class="product-detail">
                <p class="subtitle ">Price </p>
                <p class="price  product-price">
                    {{product.price}}</p>
            </div>
        </div>
    </div>
</div>