<!-- As a heading -->
<nav class="navbar navbar-light bg-light">
    <div class="container">
        <div class="d-flex justify-content-between w-100 align-items-center">
            <span class="navbar-brand mb-0 h1">Navbar </span>
            <div class="nav-links">
                <a href="/login" class="nav-link" *ngIf="isLoggedIn" (click)="logout()">Logout</a>
                <a class="nav-link" *ngIf="!isLoggedIn" href="/login">Login
                </a>
            </div>
        </div>
    </div>
</nav>